body {
    background-color: #F39494;
    font-family: Open Sans
}

form {
    background-color: #FFFEFE;
}

h1 {
    color: #333333;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

button {
    background-color: #089FE0;
}

label {
    font-weight: 400
}